#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100vh;
}

#root > div:first-child {
  height: 50px;
}

#root > div:last-child {
  flex-grow: 1;
  background-color: rgb(170, 187, 178);
}

.search-container {
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.cards-container {
  background-color: #646cffaa;
}

.search__component {
  display: flex;
  gap: 2rem;
}
