* {
  padding: 0;
  margin: 0;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100vh;
}

#root > div:first-child {
  height: 50px;
}

#root > div:last-child {
  flex-grow: 1;
  background-color: rgb(225, 223, 239);
}

.search-container {
  background-color: rgb(58, 5, 144);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.cards-container {
  background-color: #646cffaa;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.search__component {
  display: flex;
  gap: 2rem;
}


.character__card {
  background-color: rgb(185, 185, 239);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #0912beaa;
  gap: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

li {
  list-style-type: none;
}