* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: rgb(218, 216, 249);
}

.search-container {
  background-color: rgb(58, 5, 144);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 1rem;
  padding: 2rem;
}

.search__component {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.character__card {
  width: 200px;
  background-color: rgb(185, 185, 239);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #0912beaa;
  gap: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

li {
  list-style-type: none;
}

img {
  height: 60vh;
  border-radius: 1rem;
}

.error-container {
  background-color: rgb(0, 0, 12);
  padding: 1rem;
}

.error-wrapper {
  display: flex;
  flex-direction: column;
}

.loader {
  color: white;
  display: block;
  width: 100%;
}

.app-container {
  display: flex;
}

.aside-dark-wrapper {
  background-color: rgba(0, 0, 0, 0.381);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.close-button {
  background-color: rgb(172, 54, 235);
  color: white;
  width: 80%;
}

.modal-card {
  display: flex;
  padding: 2rem;
  position: relative;
  z-index: 10;
  background-color: rgb(222, 215, 250);
  height: 100%;
  width: 400px;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
